@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i');

*{ box-sizing: border-box; 
}

body {
	background-image: url(img/patt.png);
	font-family: Roboto, sans-serif;
	font-weight: lighter;
}
[class*="container"] {
	width: 1170px;
	margin: 0 auto;
}
.container1, .container2 {
	height: 670px;
}
.row:after {
	content: "";
	clear: both;
	display: block;
}
[class*="col-md"] {
	float: left;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
.col-md-9 {
	width: 75%;
}
.header {
	padding: 25px 0;
	background-color:rgba(225,225,225,0.75);
}
.mainimg {
	margin-top: 10px;
}
.menu li {
	float: left;
	width: 25%;
	border-left: 1px solid #2c71b8;
	text-align: center;

}
.menu li:nth-child(2) {
	position: relative;
}
.menu li:last-child {
	border-right: 1px solid #2c71b8;
}
.menu li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: #2c71b8;
	font-size: 21px;
}
.menu li > a:hover, .menu li:hover > a{
        background: #2c71b8;
        color: white;
}
.submenu li {
float: none;
width: 294px;
display: block;
}

.submenu li a:hover {
	background-color: white;
	color: #2c71b8;
}

.submenu {
	display: none;
	position: absolute;
	background-color: #2c71b8;
	margin-left: -1px;

}

.submenu li a {
	display: block;
	color: white;
	background-color: #2c71b8;
	text-decoration: none;
	text-align: left;
	padding-left: 30px;
	
}
ul.menu > li:hover > ul.submenu {
	display: block;
}

form {
  position: relative;
  width: 200px;
  border: 1px solid #2c71b8;
  margin-left: 15px;
}

input {
  border: none;
  width: 100%;
  height: 40px;
  background-color:rgba(225,225,225,0);
  padding-left: 20px;
}
button {
  border: none;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #2c71b8;
}
.img {
	padding-top: -9px;
}

input::placeholder {
	color: #2c71b8;
	font-size: 21px;
}

.icon {
	background: white;
	background-image: url(img/icon.1.png) no-repeat;
	width: 40px;
	height: 40px;
	padding-left: 10px;
	margin-left: 10px;
	position: relative;
}
.box {
	padding-top: 10px;
}
.number {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #2c71b8;
	border-radius: 50px;
	text-align: center;
	color: white;
	font-size:12px;
	margin-left:-20px;
	margin-top:-40px;
	padding-top: 4px;
}
.main {
	margin-top: 400px;
}
.item1 {
	background-color:rgba(225,225,225,0.75);
	height: 180px;
	width: 270px;
	position: relative;
	border:1px solid white;
	position: relative;
}
.center-img {
	text-align: center;
	padding-top: 40px;
}
.center-img2 {
	text-align: center;
	padding-top: 46px;
}
.center-img3 {
	text-align: center;
	padding-top: 28px;
}
.center-img4 {
    text-align: center;
	padding-top: 68px;
}
.center-img5 {
    text-align: center;
	padding-top: 29px;
}
.icon1 {
	width:30px;
	height:30px;
	background-color:rgba(225,225,225,0);
	border: 1px solid #2c71b8;
	position: absolute;
	margin-left: 231px;
	margin-top: -95px;
}
.icon2 {
	width:30px;
	height:30px;
	background-color:rgba(225,225,225,0);
	border: 1px solid #2c71b8;
	position: absolute;
	margin-left: 231px;
	margin-top: -135px;	
}
.icon3 {
	width:30px;
	height:30px;
	background-color:#2c71b8;
	border: 1px solid #2c71b8;
	position: absolute;
	margin-left: 231px;
	margin-top: -95px;
}
.icon4 {
	width:30px;
	height:30px;
	background-color:#2c71b8;
	border: 1px solid #2c71b8;
	position: absolute;
	margin-left: 231px;
	margin-top: -135px;	
}
.imgin {
	padding-top: 6px;
	padding-left: 5px;	
}
.imgin2 {
	padding-top: 5px;
	padding-left: 4px;
}
.item2 {
	width:270px;
	height:470px;
	background-color:rgba(44, 113, 184, 0.75);
	border: 1px solid white;
	color: white;
	font-size: 21px;
	padding: 15px 0px 0px 20px;
	margin-top: 24px;
	position: absolute;
	margin-left: -1px;

}
p {
	padding-bottom: 10px;
}
.p1 {
	font-size: 30px;
	font-weight: bold;
}
.text {
	font-weight: bold;
	text-transform: uppercase;
}
.text2 {
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	padding-left: 0;
	letter-spacing: 1px;
	padding: 10px 0 10px 0;
}
.uptext {
	vertical-align: super;
	font-size: 24px;
}
.form2 {
	margin-top: 5px;
}
.button2 {
	width: 210px;
	height: 50px;
	line-height: 50px;
	border:1px solid white;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 21px;
}
.form3 {
	margin-top: 40px;
}
.button3 {
	width: 210px;
	height: 50px;
	line-height: 50px;
	background-color:rgba(102, 153, 204, 0.75);
	border:1px solid white;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 21px;
}

.footer {
    padding: 25px 0;	
    background-color:rgba(225,225,225,0.75);
}
.footertext {
	text-align: center;
	font-size: 21px;
	color: #3366cc;
}